.about {
  padding-top: 6.875rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
 .about hr{
    width: 7.5rem;
    margin: 0 auto;
} 
.about h2 {
  color: hsl(0, 100%, 100%);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .0625rem;
}
.details-about-me h3 {
  display: none;
}
.details-about-me p {
  color: hsla(0, 100%, 100%, 0.6);
  max-width: 21.5156rem;
  margin: 2rem auto;
}

.item {
  width: 90%;
  max-width: 21.5156rem;
  height: 12.5rem;
  margin: .75rem auto;
  border: .0625rem solid hsl(0, 0%, 96%);
  text-align: start;
  border-radius: .3125rem;
  padding: 1.875rem;
}
.item hr{
  border: .0625rem solid  hsl(190, 100%, 42%);
  width: 2.5rem;
  margin-left: 0;
  margin-bottom: .75rem;
}
.item:hover {
  animation: slide-to-top 0.4s ease forwards;
  border: .0625rem solid hsl(0, 0%, 52%);
}
.item span {
  color: hsl(190deg 100% 42%);
  font-size: 2rem;
  font-weight: 500;
}
.item p {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  letter-spacing: .0625rem;
  width: 8.125rem;
}

@keyframes slide-to-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media all and (min-width: 1024px) {
  .about {
    width: 90vw;
    /*  max-width: 1100px; */
  }
  .details-about-me {
    margin: auto;
    width: 18.75rem;
  }
  .details-about-me h3 {
    display: inline;
    color: hsl(190, 100%, 42%);
    font-size: 1.25rem;
    font-weight: 600;
  }
  .about-grid {
    height: 18.75rem;
    margin: 4rem 0 1rem 0;
    display: grid;
    grid-template-columns: 2.5fr 2fr;
  }
  .cards-about {
    display: flex;
    column-gap: 1rem;
    margin-right: 6.25rem;
  }
  .item {
    max-width: 12.5rem;
    height: 100%;
    margin-top: 0;
  }
  .details-about-me p {
    font-size: 1.125rem;
    width: 17.5rem;
  }
}
