.about {
  padding-top: 110px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
 .about hr{
    width: 120px;
    margin: 0 auto;
} 
.about h2 {
  color: hsl(0, 100%, 100%);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}
.details-about-me {
  /* slide-from-left animation exist  in Home.css */
  opacity: 0;
  animation: slide-from-left 1.2s ease forwards;
}
.details-about-me h3 {
  display: none;
}
.details-about-me p {
  color: hsla(0, 100%, 100%, 0.6);
  max-width: 344.25px;
  margin: 32px auto;
}

.item {
  width: 90%;
  max-width: 344.25px;
  height: 200px;
  margin: 12px auto;
  border: 1px solid hsl(0, 0%, 96%);
  text-align: start;
  border-radius: 5px;
  padding: 30px;
}
.item hr{
  border: 1px solid  hsl(190, 100%, 42%);
  width: 40px;
  margin-left: 0;
}
.item:hover {
  animation: slide-to-top 0.4s ease forwards;
  border: 1px solid hsl(0, 0%, 52%);
}
.item span {
  color: hsl(190deg 100% 42%);
  font-size: 32px;
  font-weight: 500;
}
.item p {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  letter-spacing: 1px;
  width: 130px;
}
.cards-about {
  opacity: 0;
  animation: slide-from-right 1.2s ease forwards;
}
@keyframes slide-to-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media all and (min-width: 1024px) {
  .about {
    width: 90vw;
    /*  max-width: 1100px; */
  }
  .details-about-me {
    margin: auto;
    width: 300px;
  }
  .details-about-me h3 {
    display: inline;
    color: hsl(190, 100%, 42%);
    font-size: 20px;
    font-weight: 600;
  }
  .about-grid {
    height: 300px;
    margin: 64px 0 16px 0px;
    display: grid;
    grid-template-columns: 2.5fr 2fr;
  }
  .cards-about {
    display: flex;
    column-gap: 16px;

    margin-right: 100px;
  }
  .item {
    max-width: 200px;
    height: 100%;
    margin-top: 0;
  }
  .details-about-me p {
    font-size: 18px;
    width: 280px;
  }
}
