nav {
  width: 100vw;
  height: 5.625rem;
  border: .0625rem solid hsl(215deg 28% 17%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(4px);
  z-index: 2;
}
nav .list_icons {
  width: 9.375rem;
  display: flex;
  justify-content: space-between;
}
.social-icon {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: hsl(215deg 28% 17%);
  font-size: 1.25rem;
  padding-top:.375rem ;
  /* color  icon  in  the <a> */
}
.social-icon a {
  color: hsl(0, 100%, 100%);
}
.social-icon:hover {
  background-color: hsl(202deg 80% 53%);
}
.burger-icon {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(202deg 80% 53%);
  color: hsl(0, 100%, 100%);
}
.burger-icon-open {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: hsl(202deg 80% 53%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: slide-from-top 0.5s ease-in-out forwards;
}

.hix {
  color: hsl(0, 100%, 100%);
  width: 2.8125rem;
  height: 2.8125rem;
  font-size: 2.8125rem;
  position: absolute;
  top: 1.875rem;
  right: 1.25rem;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18.75rem;
}
.links a {
  text-decoration: none;
  color: hsl(0, 100%, 100%);
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: .125rem;
  opacity: 0;
  animation: show 0.5s ease-in-out forwards;
}
.mobile_nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav designe */
.desktop_nav{
    
    width: 28.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.desktop_nav a{
    text-decoration: none;
    color: hsl(0, 100%, 100%);
    font-weight: 500;
    letter-spacing: .0625rem;
}
.desktop_nav a:hover{
    border-bottom: solid hsl(202deg 80% 53%);
    padding-bottom: 1.875rem;
    transition: all .4s;
    color: hsl(202deg 80% 53%);
}
/* animation*/
@keyframes slide-from-top {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

