.skills {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.skills h2 {
  color: hsl(0, 100%, 100%);
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: .0625rem;
}
.skills hr {
  width: 6.25rem;
  margin: 0 auto 4rem auto;
}
.all_skills{
   max-width: 68.75rem;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(2,70px);
   justify-content: center;
   gap: 3.125rem ;
   
}
.skills_contain{
    width: 4.375rem;
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsl(215deg 27.91% 16.86%);
    
}
.skills_contain img{
    width: 2.1875rem;
    height: 2.1875rem;
}
@media all and (min-width:768px){
    .all_skills{
        display: flex;
        justify-content: space-between;
        gap: 0;
        
    }
}

